@import "../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "bootstrap.min.css";
@import "bootstrap-theme.css";
$font-family-primary: 'Open Sans', sans-serif;
$font-weight-400: 400;
$font-weight-600: 600;
$primary-color: #ffffff;
$blue-color: #49cbcd;
$blue-light-color: #3ec2f3;
$blue-dark-color: #3b5997;
$lilac-color: #bface2;
$gray-color: #c1c1c1;
$black-light-color: #484c55;
$black-color: #4e525d;

@mixin max-screen($number) {
  @media screen and (max-width: $number) {
    @content;
  }
}

.navbar-header {
  position: relative;
  top: 20px;
}

.navbar-brand {
  @include max-screen(767px) {
    position: relative;
    top: -10px;
    padding-bottom: 80px;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: $primary-color;
  border: none;
  .navbar-nav>li {
    &:after {
      content: "";
      display: block;
      height: 3px;
      width: 0;
      background-color: $blue-color;
      transition: 0.5s;
    }
    &:hover:after {
      width: 100%;
    }
    a {
      font-family: $font-family-primary;
      font-weight: $font-weight-400;
      color: $black-light-color;
      font-size: 15px;
      display: inline-block;
      padding: 43px 22px;
      &:hover {
        color: $blue-color;
        background-color: #f8f9fb;
        @include max-screen(767px) {
          width: 100%;
        }
      }
      @include max-screen(767px) {
        padding: 20px 15px;
      }
    }
  }
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  .icon-bar {
    background-color: $blue-color;
  }
  &:focus, &:hover {
    background-color: transparent;
  }
}

.navbar-nav {
  margin: -0.5px -15px;
}

a:hover {
  text-decoration: none;
  color: $primary-color;
}

.btn-primary {
  background-color: transparent;
  background-image: none;
}

.main-section {
  background-image: url("../images/author_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 139px 0 147px;
  @include max-screen(767px) {
    padding: 70px 0 70px;
  }
}

.author-heading {
  font-family: $font-family-primary;
  font-weight: $font-weight-400;
  color: $primary-color;
  font-size: 63px;
  text-align: center;
  @include max-screen(767px) {
    font-size: 43px;
  }
}

.author-desc {
  font-family: $font-family-primary;
  font-weight: $font-weight-400;
  color: $primary-color;
  font-size: 23px;
  text-align: center;
  line-height: 35px;
  padding-top: 43px;
  padding-bottom: 60px;
  @include max-screen(767px) {
    font-size: 18px;
  }
}

.learn-more-btn {
  font-family: $font-family-primary;
  font-weight: $font-weight-400;
  font-size: 26px;
  color: $primary-color;
  text-align: center;
  display: block;
  text-decoration: none;
  border: solid 2px $primary-color;
  max-width: 233px;
  padding: 20px 0;
  margin: auto;
  border-radius: 10px;
  @include max-screen(767px) {
    font-size: 22px;
  }
}

h2 {
  margin: 0;
}

.owl-carousel .owl-item img {
  width: auto;
  display: inline-block;
}

.owl-nav .owl-prev {
  position: absolute;
  top: 210px;
  left: 35px;
  @include max-screen(767px) {
    display: none;
  }
}

.owl-nav .owl-prev:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f053";
  display: inline-block;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background-color: #fefefe;
  line-height: 51px;
  text-align: center;
  color: $blue-color;
  font-size: 22px;
}

.owl-nav .owl-next {
  position: absolute;
  top: 210px;
  right: 35px;
  @include max-screen(767px) {
    display: none;
  }
}

.owl-nav .owl-next:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f054";
  display: inline-block;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background-color: #fefefe;
  line-height: 51px;
  text-align: center;
  color: $blue-color;
  font-size: 22px;
}

.owl-dots {
  text-align: center;
  .owl-dot span {
    @include max-screen(767px) {
      width: 6px;
      height: 6px;
      background-color: white;
      border-radius: 50%;
      display: inline-block;
      margin: 0 9px;
      margin-top: 50px;
    }
  }
  .owl-dot.active span {
    width: 10px;
    height: 10px;
    position: relative;
    top: 2px;
  }
}

.team-section {
  padding: 108px 0 50px;
}

.primary-heading {
  font-family: $font-family-primary;
  font-weight: $font-weight-400;
  font-size: 42px;
}

.team-heading {
  @extend .primary-heading;
  color: $black-color;
  padding-bottom: 139px;
  @include max-screen(767px) {
    padding-bottom: 70px;
  }
}

.name-heading {
  font-family: $font-family-primary;
  font-weight: $font-weight-400;
  color: $black-color;
  font-size: 22px;
  padding-bottom: 25px;
  line-height: 25px;
  span {
    font-family: $font-family-primary;
    font-weight: $font-weight-400;
    color: $black-color;
    font-size: 14px;
    display: block;
  }
}

.img-team {
  width: 201px;
  height: 201px;
  border-radius: 50%;
  background-color: #eeeef0;
  display: inline-block;
  overflow: hidden;
  position: relative;
  &:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f067";
    position: absolute;
    color: #f46d6d;
    font-size: 40px;
    line-height: 201px;
    width: 100%;
    text-align: center;
    top: -200px;
    left: 0;
    transition: 0.5s;
    display: block;
  }
  &:hover {
    &:after {
      top: 0px;
      transform: rotate(360deg);
    }
  }
}

.team-desc {
  font-family: $font-family-primary;
  font-weight: $font-weight-400;
  color: $black-color;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 50px;
}

.payment-section {
  background-color: #f1f1f1;
  padding-top: 118px;
  padding-bottom: 100px;
}

.card {
  margin-bottom: 20px;
}

.card-width {
  width: 369px;
  @include max-screen(767px) {
    width: 100%;
  }
  @include max-screen(1024px) {
    width: 100%;
  }
}

.card-header {
  font-family: $font-family-primary;
  font-weight: $font-weight-400;
  background-color: #485460;
  color: $primary-color;
  font-size: 26px;
  padding: 27px 0px;
  text-align: center;
  &:hover {
    background-color: $blue-color;
  }
}

.card-header-second {
  font-family: $font-family-primary;
  font-weight: $font-weight-400;
  background-color: #f8f9fb;
  color: #485460;
  font-size: 20px;
  padding: 25px 0px;
  text-align: center;
}

.list-group-item {
  font-family: $font-family-primary;
  font-weight: $font-weight-400;
  font-size: 14px;
  color: #8c9299;
  text-align: center;
  padding: 17px 0;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item {
  border: solid 1px #ecf0f1;
}

.btn-primary {
  font-family: $font-family-primary;
  font-weight: $font-weight-600;
  color: $primary-color;
  font-size: 17px;
  background-color: #788492;
  padding: 12px 0;
  width: 170px;
  border: none;
  &:hover {
    background-color: #55d2d4;
  }
}

.list-group {
  margin-bottom: 0;
}

footer {
  background-image: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 106px;
  padding-bottom: 98px;
}

.contact-us-heading {
  @extend .primary-heading;
  color: $primary-color;
  padding-bottom: 117px;
  @include max-screen(767px) {
    padding-bottom: 60px;
  }
}

.contact-secondary-heading {
  font-family: $font-family-primary;
  font-weight: $font-weight-400;
  color: $primary-color;
  font-size: 24px;
  margin-top: 0;
}

.contact-secondary-desc {
  font-family: $font-family-primary;
  font-weight: $font-weight-400;
  color: $primary-color;
  font-size: 14px;
  padding-bottom: 34px;
  @include max-screen(767px) {
    padding-bottom: 22px;
  }
}

.social-icon {
  font-family: 'Font Awesome 5 Brands';
  display: inline-block;
  width: 42px;
  height: 42px;
  color: $primary-color;
  border-radius: 50%;
  line-height: 42px;
  text-align: center;
}

.facebook-icon:before {
  @extend .social-icon;
  content: "\f39e";
  background-color: $blue-dark-color;
  margin-right: 15px;
  margin-bottom: 22px;
}

.twitter-icon:before {
  @extend .social-icon;
  content: "\f099";
  background-color: $blue-light-color;
  margin-right: 15px;
}

.google-icon:before {
  @extend .social-icon;
  content: "\f0d5";
  background-color: #e44c41;
}

.address-desc {
  font-family: $font-family-primary;
  font-weight: $font-weight-400;
  color: $lilac-color;
  font-size: 14px;
}

.input-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-field {
  font-family: $font-family-primary;
  font-weight: $font-weight-400;
  font-size: 16px;
  color: $gray-color;
}

#exampleFormControlTextarea1 {
  @extend .input-field;
  resize: none;
  padding: 23px 20px;
}

#exampleInputName {
  @extend .input-field;
  margin-right: 29px;
  padding: 17px 20px;
  @include max-screen(767px) {
    margin-top: 20px;
  }
}

#exampleInputEmail1 {
  @extend .input-field;
  padding: 17px 20px;
}

.send-btn {
  background-color: $blue-color;
  width: 100%;
  &:hover {
    background-color: #55d2d4;
  }
}
